[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-heroku = "*"
uwsgi = "*"
djangorestframework = "*"
dj-database-url = "*"
raven = "*"
django-storages = "*"
"boto3" = "*"
djangorestframework-jwt = "*"
requests = "*"
pillow = "*"
"psycopg2-binary" = "*"
django-filter = "*"
django-cors-headers = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
"flake8" = "*"
isort = "*"
pylint = "*"
ipython = "*"
factory-boy = "*"
faker = "*"


[requires]

python_version = "3.6"
