[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
uwsgi = "*"
djangorestframework = "*"
dj-database-url = "*"
raven = "*"
django-storages = "*"
"boto3" = "*"
djangorestframework-jwt = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
"flake8" = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.6"
