[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-heroku = "*"
djangorestframework = "*"
dj-database-url = "*"
django-storages = "*"
"boto3" = "*"
djangorestframework-jwt = "*"
requests = "*"
pillow = "*"
django-filter = "*"
django-cors-headers = "*"
"psycopg2" = "*"
gunicorn = "*"
algoliasearch-django = "*"
easy-thumbnails = "*"
sentry-sdk = "*"
python-magic = "*"
python-binary-memcached = "*"
django-bmemcached = "*"
"beautifulsoup4" = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
"flake8" = "*"
isort = "*"
pylint = "*"
ipython = "*"
factory-boy = "*"
faker = "*"


[requires]

python_version = "3.6"


[pipenv]

keep_outdated = true
